{% extends 'base.html.twig' %}

{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <!-- Card -->
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://static.wixstatic.com/media/6bfe20_75c1cdafc3a1420b811c4c3e3b08c1c9~mv2_d_2000_2000_s_2.png/v1/fill/w_359,h_310,al_c,q_85,usm_0.66_1.00_0.01/6bfe20_75c1cdafc3a1420b811c4c3e3b08c1c9~mv2_d_2000_2000_s_2.webp"
                        width="auto" height="400" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">DJ FOXXY</h4>
                    <!--Text-->
                    <article class="card-text">I met Dj Antimo LUPO when i was 6. He taught me all he knew about music &
                        mixing.<br>
                        I then, bought my first mixing table & start mixing during all my free time.<br><br>
                        Mom was not always agreed with that !!!!….too much noise for her.<br><br>

                        I like mixing house music, trance, techno & electro.<br><br>
                        A few year ago I created Foxxy Sound & start mixing as Dj Foxxy..</article>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col mb-4">
            <!-- Card -->
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://static.wixstatic.com/media/6bfe20_def231abd1064b22877e544c37ccad62~mv2.png/v1/fill/w_443,h_199,al_c,q_85,usm_0.66_1.00_0.01/6bfe20_def231abd1064b22877e544c37ccad62~mv2.webp"
                        width="auto" height="400" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">DJ ANTIMO</h4>
                    <!--Text-->
                    <article class="card-text">
                        I Strated mixing at the age of 14. Begining of 90' , I started playing in one
                        of the biggest and famous Belgium Club.<br><br>

                        Since then i never stop mixing and djaying.<br><br>



                        <b>2012</b> : I was a resident Dj at "Tranceportation TV".<br><br>


                        <b>2015</b> : I created "Tomorrow Dreams", which is my personal label & representation.
                    </article>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col mb-4">
            <!-- Card -->
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://static.wixstatic.com/media/6bfe20_2f19f17718f84e1b9c764945f5051125~mv2.png/v1/fill/w_360,h_272,al_c,q_85,usm_0.66_1.00_0.01/6bfe20_2f19f17718f84e1b9c764945f5051125~mv2.webp"
                        width="auto" height="400" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">DJ GOONIE</h4>
                    <!--Text-->
                    <article class="card-text">Creator of the DJ Goonie - Goonies sound 1,2,3,4, i have started mixing
                        for
                        more about 18 years ago.<br><br>

                        The purpose of my mixes is to let you dream/fly/jump and feel the energy going stronger and
                        stronger.<br><br>

                        I love deep house, progressive house, trance, progressive trance, vocal trance, uplifting
                        trance, everything that has beauty and energy,

                        The objective for 2018 is to perform more mixes, we'll see what it gives..</article>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col mb-4">
            <!-- Card -->
            <div class="card">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="https://static.wixstatic.com/media/6bfe20_f62e5306d0054ec09e9322a5210aea04~mv2_d_1690_1450_s_2.png/v1/fill/w_331,h_250,al_c,q_85,usm_0.66_1.00_0.01/6bfe20_f62e5306d0054ec09e9322a5210aea04~mv2_d_1690_1450_s_2.webp"
                        width="auto" height="400" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">CAPONIDAE (PRODUCER)</h4>
                    <!--Text-->
                    <article class="card-text">At the age of 6, i started playing piano and flûte.
                        I grown up with new wave style and belgian house music.<br><br>


                        One day, i started composing tune on the demo scene with amiga trackker.<br><br><br>

                        Now, influenced by the edm, trance and classical music,
                        i create my own tracks using the appropriate "daw " softwares (digital audio work station).<br><br></article>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

                </div>

            </div>
            <!-- Card -->
        </div>
    </div>
</div>

{% endblock %}