{% extends "base.html.twig" %}

{% block body %}
<div class="container">
  <img src="{{ asset('image/Tomorrow-Dreams-final2016.png') }}" name="" >

  <div class="form-group"><br><br>
    <label class="form-control-label">USERNAME</label>

    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label class="form-control-label">PASSWORD</label>
    <input type="password" class="form-control" i>
  </div>


</div>


{% endblock %}