{% extends "base.html.twig" %}

{% block body %}
<br>
<br>
<br>    
<div class="container">
<div class="row">
    

    <div class="carte">
    <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <!-- Card -->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://static.wixstatic.com/media/6bfe20_75c1cdafc3a1420b811c4c3e3b08c1c9~mv2_d_2000_2000_s_2.png/v1/fill/w_359,h_310,al_c,q_85,usm_0.66_1.00_0.01/6bfe20_75c1cdafc3a1420b811c4c3e3b08c1c9~mv2_d_2000_2000_s_2.webp" width="auto" height="400"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Dj Foxxy</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Listen More</button>

      </div>

    </div>
    <!-- Card -->
  </div>
  <div class="col mb-4">
    <!-- Card -->
    <div class="card">

      <div class="view overlay">
        <img class="card-img-top" src="https://static.wixstatic.com/media/6bfe20_def231abd1064b22877e544c37ccad62~mv2.png/v1/fill/w_443,h_199,al_c,q_85,usm_0.66_1.00_0.01/6bfe20_def231abd1064b22877e544c37ccad62~mv2.webp" width="auto" height="400"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body">
        <h4 class="card-title">Dj Antimo</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Listen More</button>

      </div>

    </div>
    

  
</div>
</div>
</div><br><br><br>
<!--------Leucteur Audio-------------->
<div id="music">
<div class="container">
    
    <!----DJ ANTIMO------>
    





    
    
    
        <!-----DJ FOXXY--->



            <!----CAPONIDAE----->



                <!----DJGOONIE------>
    
    
    
    
    
    
    
            <hr style="background-color:gray;">


      
    </div>
    </div>
    </div>

{% endblock %}