{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
       
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                 <br>
        <br>
        <br>
                    <img class="col-lg-12" src="https://static.wixstatic.com/media/6bfe20_def231abd1064b22877e544c37ccad62~mv2.png/v1/fill/w_443,h_199,al_c,q_85,usm_0.66_1.00_0.01/6bfe20_def231abd1064b22877e544c37ccad62~mv2.webp">
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form>
                          
                            <div class="form-group">
                                <label class="form-control-label">First Name</label>
                                <input type="password" class="form-control" i>
                            </div>
                              <div class="form-group">
                                <label class="form-control-label">Last Name</label>
                                <input type="password" class="form-control" i>
                            </div>
                              <div class="form-group">
                                <label class="form-control-label">Password</label>
                                <input type="password" class="form-control" i>
                            </div>
                                
                              <div class="form-group">
                                <label class="form-control-label">Confirm Your Password</label>
                                <input type="password" class="form-control" i>
                            </div>
                              <div class="form-group">
                                <label class="form-control-label">Email</label>
                                <input type="password" class="form-control" i>
                            </div>
                              <div class="form-group">
                                <label class="form-control-label">Confirm Your Email</label>
                                <input type="password" class="form-control" i>
                            </div>



                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text">
                                    <!-- Error Message -->
                                </div>
                            </div>
                       
                            
                        
                    </div><br>
                     <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                                </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
                 </form>
            </div>
        </div>



{% endblock %}


